<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="single-fun">
            <i class="icofont icofont-home"></i>
            <div class="title">
                <span class="counter">{{ total_rooms }}</span>
                <p>Shifoxona xonalari</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="single-fun">
            <i class="icofont icofont-user-alt-3"></i>
            <div class="title">
                <span class="counter">{{ total_doctors }}</span>
                <p>Mutaxassis doktorlar</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="single-fun">
            <i class="icofont icofont-users-alt-4"></i>
            <div class="title">
                <span class="counter">{{ total_patients }}</span>
                <p>Mamnun bemorlar</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="single-fun">
            <i class="icofont icofont-clock-time"></i>
            <div class="title">
                <span class="counter">{{ avg_experience }}</span>
                <p>Yillik tajriba</p>
            </div>
        </div>
    </div>
</div> 